$black: #010101;
$white: #f7f8f7;
$darkgreen: #006e49,
$lightgreen: #6c9536;
$yellow: #f2c92a;
$navy: #07077e;
$light-blue: #05d6ed;
    red: '#f92609',
    gray: '#979797',
    pink: '#fd6f7b',
    tan: '#ebdcc3' 