$black: #010101;
$white: #f7f8f7;
$dark-green: #006e49;
$light-green: #6c9536;
$yellow: #f2c92a;
$navy: #07077e;
$light-blue: #05d6ed;
$red: #f92609;
$gray: #979797;
$pink: #fd6f7b;
$tan: #ebdcc3;

:export{
    black: $black;
    white: $white;
    dark-green: $dark-green;
    light-green: $light-green;
    yellow: $yellow;
    navy: $navy;
    light-blue: $light-blue;
    red: $red;
    gray: $gray;
    pink: $pink;
    tan: $tan;
}